<span class="m-2">*BE REQUIRED</span>
<div class="d-flex flex-column align-items-center mb-3">
  <span class="h4 ml-5">PLEASE FILL UP YOUR FORM</span>
  <form action="" class="formList m-5 p-4">
    <div class="row">
      <div class="col-12"> <label for="name">姓名：</label>
        <input id="name" type="text">
      </div>
      <div class="col-12">
        <label for="date">DATE：</label>
        <input type="date" id="date" class="inputForm">
      </div>
      <div class="col-12">
        <label for="select" class="inputForm">類別：</label>
        <select id="select" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">

          <option selected>-----Select-----</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-12">
        <label for="name" style="display:inline">金額：</label>
        <input id="name" type="text">
      </div>
      <div class="col-12 text-center">
        <button id="exbtn" class="btn btn-primary" type="submit">Submit form</button>
      </div>

  </form>
</div>