#mainPage{
  max-width:768px;
}

#cateGory{
  width: 100%;
}

#total{
  min-width: 576px;
   margin: 10px;
  padding: 10px;
  flex: 20% 0 1;
}

.totalMoney{
  font-size: 70px;
}


/* ---------new--------- */

