main{
  width:768px;
  min-width:360px;}

.formList{
  width:50%;  
}

.col-12{
  height:75px;
}
.col-12,input{
  
  width:auto;
}
select{
  width:200px;
}

.inputForm{
  padding:5px;
  height:2rem;
}

#exbtn{
  width:100%; }

  