#mainPage{
  max-width:768px;
}


#total{
  min-width: 576px;
   margin: 10px;
  padding: 10px;
  flex: 20% 0 1;
}

.totalMoney{
  font-size: 70px;
  color: rgb(255, 153, 0);
}

.backtoLast:hover{
color: rgb(255, 197, 5);
}